image: Visual Studio 2022

environment:
  matrix:
    - JDK_VERSION: 8

install:
  - java -version
  - gradlew.bat --version

build_script:
  # Сборка jar
  - gradlew.bat build --info
  - if not exist src\artifacts mkdir src\artifacts
  - copy build\libs\*.jar src\artifacts\app-mbank.jar

  # Запуск сервера в фоне
  - start /b java -jar src\artifacts\app-mbank.jar

  # Ждём, пока сервер станет доступен на порту 9999
  - powershell -Command "while(-not (Test-NetConnection -ComputerName 'localhost' -Port 9999).TcpTestSucceeded) { Start-Sleep -Seconds 1 }"

  # Запуск тестов
  - gradlew.bat test --info

branches:
  only:
    - main
