image: Visual Studio 2022

environment:
  matrix:
    - JDK_VERSION: 11

install:
  - java -version
  - chmod +x ./gradlew

build_script:
  # Сборка проекта
  - ./gradlew build --info

  # Создаём папку artifacts
  - if not exist artifacts mkdir artifacts

  # Копируем jar в папку artifacts с нужным именем
  - copy build\libs\*.jar artifacts\app-mbank.jar

  # Запускаем jar (если нужно)
  - java -jar artifacts\app-mbank.jar

branches:
  only:
    - main
