version: '{build}'

# Образ Windows для сборки (как пример Windows Server 2019)
os: Visual Studio 2019

# Используем свои скрипты сборки (отключаем стандартный MSBuild)
build: off

# Разрешаем билд только для ветки master
branches:
  only:
    - main

# Скрипт сборки — запускаем gradle wrapper для сборки
build_script:
  - gradlew.bat build --info